@import "tailwindcss";
@source "../views";
@import './style.css';

/* Toastr Tailwind Adaptation */
#toast-container > .toast {
    @apply bg-white border rounded-lg shadow-lg overflow-hidden max-w-sm;
}

#toast-container > .toast-success {
    @apply border-green-500;
}

#toast-container > .toast-error {
    @apply border-red-500;
}

#toast-container > .toast-warning {
    @apply border-yellow-500;
}

#toast-container > .toast-info {
    @apply border-blue-500;
}

.toast-title {
    @apply font-bold text-gray-800;
}

.toast-message {
    @apply text-gray-700;
}

.toast-close-button {
    @apply text-gray-500 hover:text-gray-700 font-bold text-lg leading-none;
}

